// ----- MODULE-BASE ----------------------------
// ----- FUNCTIONS / MIXIN ----------------------
@function max-value($list) {
	$max-value: 0;
	@each $item in $list {
		@if ($item > $max-value) {
			$max-value: $item;
		}
	}
	@return $max-value;
}
@function check-columns($list) {
	$columns-values: ();
	@each $item in $list {
		@if (index($columns-values, $item) == null) {
			$columns-values: append($columns-values, $item);
		}
	}
	@return $columns-values;
}
@mixin clearfix {
	&::after {
		display: table;
		clear: both;
		content: '';
	}
}
// ----- BOX-SIZING -----------------------------
html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
// ----- HELPERS-CLEARFIX -----------------------
@if ($helper-clearfix) {
	.#{$helper-clearfix-class} {
		@include clearfix;
	}
}
// ----- DEBUG ----------------------------------
@if ($debug) {
	@if (length($grid-columns) > 1) {
		$debug-columns: max-value($grid-columns);
	} @else {
		$debug-columns: abs($grid-columns);
	}
	#{$debug-class} {
		$debug-width: (100 / $debug-columns) + '%';
		position: relative;
		&::after {
			display: block;
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			max-width: $wrapper-max-width;
			height: 100%;
			margin: 0 auto;
			background: repeating-linear-gradient(90deg, map-get($debug-settings, background-column) 0, map-get($debug-settings, background-column) calc(#{$debug-width} - #{$grid-gutter}), map-get($debug-settings, background-gutter) calc(#{$debug-width} - #{$grid-gutter}), map-get($debug-settings, background-gutter) calc(#{$debug-width} + ( #{$grid-gutter} / #{$debug-columns} ))); //grid nomargin
			content: '';
			z-index: -1;
			@if ($wrapper-gutter != 0) {
				padding: 0 $wrapper-gutter;
				background-origin: content-box;
			}
		}
	}
}
// ----- CLASS-GRID -----------------------------
.#{$wrapper-class} {
	width: 100%;
	@if ($wrapper-gutter != 0) {
		padding: 0 $wrapper-gutter;
	} @else {
		padding: 0;
	}
	@if ($wrapper-max-width != 100%) {
		max-width: $wrapper-max-width;
		margin: 0 auto;
	}
}
// ----- CLASS-ROW ------------------------------
.#{$grid-class-row} {
	@include clearfix;
	margin-left: -$grid-gutter;
}
// ----- CLASS-COLUMN ---------------------------
[class*="#{$grid-class-column}"] {
	width: 100%;
	min-height: 1px;
	padding-left: $grid-gutter;
	float: left;
}
.#{$grid-class-column}center {
	float: none;
	margin-left: auto;
	margin-right: auto;
}
// ----- GRID-BASE ------------------------------
@if (length($grid-columns) == 1) and ($grid-columns < 0) {
	@for $i from 1 through abs($grid-columns) {
		.#{$grid-class-column}#{$i} {
			width: ($i / abs($grid-columns)) * 100%;
		}
	}
} @else {
	@each $column-value in check-columns($grid-columns) {
		.#{$grid-class-column}#{$column-value} {
			width: (100% / max-value($grid-columns)) * $column-value;
		}
	}
}
// ----- GRID-GUTTER ----------------------------
@each $key, $value in $helper-gutter-values {
	.#{$helper-gutter-class}#{$key} {
		margin-left: -$value;
		> [class*="#{$grid-class-column}"] {
			padding-left: $value;
		}
	}
}
