// ----- MODULE-BASE ----------------------------
// ----- FUNCTIONS / MIXIN ----------------------
@function max-value($list) {
	$ug-max-value: 0;
	@each $item in $list {
		@if ($item > $ug-max-value) {
			$ug-max-value: $item;
		}
	}
	@return $ug-max-value;
}
@function check-columns($list) {
	$ug-columns-values: ();
	@each $item in $list {
		@if (index($ug-columns-values, $item) == null) {
			$ug-columns-values: append($ug-columns-values, $item);
		}
	}
	@return $ug-columns-values;
}
@mixin clearfix {
	&::after {
		display: table;
		clear: both;
		content: '';
	}
}
// ----- BOX-SIZING -----------------------------
html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
// ----- HELPERS-CLEARFIX -----------------------
@if ($ug-helper-clearfix) {
	.#{$ug-helper-clearfix-class} {
		@include clearfix;
	}
}
// ----- DEBUG ----------------------------------
@if ($ug-debug) {
	$ug-debug-columns: if(length($ug-grid-columns) > 1, max-value($ug-grid-columns), abs($ug-grid-columns));
	#{$ug-debug-class} {
		$ug-debug-width: (100 / $ug-debug-columns) + '%';
		position: relative;
		&::after {
			display: block;
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			max-width: $ug-wrapper-max-width;
			height: 100%;
			margin: 0 auto;
			background: repeating-linear-gradient(90deg, map-get($ug-debug-settings, background-column) 0, map-get($ug-debug-settings, background-column) calc(#{$ug-debug-width} - #{$ug-grid-gutter}), map-get($ug-debug-settings, background-gutter) calc(#{$ug-debug-width} - #{$ug-grid-gutter}), map-get($ug-debug-settings, background-gutter) calc(#{$ug-debug-width} + ( #{$ug-grid-gutter} / #{$ug-debug-columns} )));
			content: '';
			z-index: -1;
			@if ($ug-wrapper-gutter != 0) {
				padding: 0 $ug-wrapper-gutter;
				background-origin: content-box;
			}
		}
	}
}
// ----- CLASS-GRID -----------------------------
.#{$ug-wrapper-class} {
	width: 100%;
	@if ($ug-wrapper-gutter != 0) {
		padding: 0 $ug-wrapper-gutter;
	} @else {
		padding: 0;
	}
	@if ($ug-wrapper-max-width != 100%) {
		max-width: $ug-wrapper-max-width;
		margin: 0 auto;
	}
}
// ----- CLASS-ROW ------------------------------
.#{$ug-grid-class-row} {
	margin-left: -$ug-grid-gutter;
	@if ($ug-grid-flexbox) {
		display: flex;
		flex-flow: row wrap;
		&-reverse {
			flex-wrap: wrap-reverse;
		}
		&-top {
			align-items: flex-start;
		}
		&-middle {
			align-items: center;
		}
		&-bottom {
			align-items: flex-end;
		}
		&-left {
			justify-content: flex-start;
		}
		&-center {
			justify-content: center;
		}
		&-right {
			justify-content: flex-end;
		}
		&-around {
			justify-content: space-around;
		}
		&-between {
			justify-content: space-between;
		}
	} @else {
		@include clearfix;
	}
}
// ----- CLASS-COLUMN ---------------------------
[class*="#{$ug-grid-class-column}"] {
	min-height: 1px;
	padding-left: $ug-grid-gutter;
	@if ($ug-grid-flexbox) {
		flex: 1 1 100%;
		max-width: 100%;
	} @else {
		width: 100%;
		float: left;
	}
}
.#{$ug-grid-class-column} {
	&center {
		margin-right: auto;
		margin-left: auto;
		@if ($ug-grid-flexbox) {
			justify-content: center;
		} @else {
			float: none;
		}
	}
	@if ($ug-grid-flexbox) {
		&content {
			flex: 0 0 auto;
		}
		&auto {
			flex: 1 1 0%;
		}
		&top {
			align-self: flex-start;
		}
		&middle {
			align-self: center;
		}
		&bottom {
			align-self: flex-end;
		}
	}
}

// ----- GRID-BASE ------------------------------
@if (length($ug-grid-columns) == 1) and ($ug-grid-columns < 0) {
	@for $i from 1 through abs($ug-grid-columns) {
		.#{$ug-grid-class-column}#{$i} {
			@if ($ug-grid-flexbox) {
				flex-basis: ($i / abs($ug-grid-columns)) * 100%;
				max-width: ($i / abs($ug-grid-columns)) * 100%;
			} @else {
				width: ($i / abs($ug-grid-columns)) * 100%;
			}
		}
	}
} @else {
	@each $column-value in check-columns($ug-grid-columns) {
		.#{$ug-grid-class-column}#{$column-value} {
			@if ($ug-grid-flexbox) {
				flex-basis: (100% / max-value($ug-grid-columns)) * $column-value;
				max-width: (100% / max-value($ug-grid-columns)) * $column-value;
			} @else {
				width: (100% / max-value($ug-grid-columns)) * $column-value;
			}
		}
	}
}
// ----- GRID-GUTTER ----------------------------
@each $key, $value in $ug-helper-gutter-values {
	.#{$ug-helper-gutter-class}#{$key} {
		margin-left: -$value;
		> [class*="#{$ug-grid-class-column}"] {
			padding-left: $value;
		}
	}
}
