// ----- MODULE-BLOCK ---------------------------
@if($module-block) {
    @if (length($module-block-columns) == 1) and ($module-block-columns < 0) {
        @for $i from 1 through abs($module-block-columns) {
            .#{$prefix-block}#{$i} {
                > * {
                    width: ($i / abs($module-block-columns)) * 100%;
                }
            }
        }
    } @else {
        @each $column-value in check-columns($module-block-columns) {
            .#{$prefix-block}#{$column-value} {
                > * {
                    width: ($column-value / max-value($module-block-columns)) * 100%;
                }
            }
        }
    }
    @if($grid-responsive) {
        @each $key, $value in $module-block-breakpoints {
            @media (min-width: $value) {
                @if (length($module-block-columns) == 1) and ($module-block-columns < 0) {
                    @for $i from 1 through abs($module-block-columns) {
                        .#{$prefix-block}#{$key}#{$i} {
                            > * {
                                width: ($i / abs($module-block-columns)) * 100%;
                            }
                        }
                    }
                } @else {
                    @each $column-value in check-columns($module-block-columns) {
                        .#{$prefix-block}#{$key}#{$column-value} {
                            > * {
                                width: ($column-value / max-value($module-block-columns)) * 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}