// ----- MODULE-BLOCK ---------------------------
@if ($module-block) {
    [class*="#{$module-block-class}"] {
        padding-left: 0;
        list-style: none;
        > * {
            min-height: 1px;
            padding-left: $grid-gutter;
            @if ($grid-flexbox) {
                flex: 0 0 100%;
                max-width: 100%;
            } @else {
                width: 100%;
                float: left;
            }
        }
    }
    @each $key, $value in $helper-gutter-values {
        .#{$helper-gutter-class}#{$key} {
            &[class*="#{$module-block-class}"] > * {
                padding-left: $value;
            }
        }
    }
    @if (length($module-block-columns) == 1) and ($module-block-columns < 0) {
        @for $i from 1 through abs($module-block-columns) {
            .#{$module-block-class}#{$i} {
                > * {
                    @if ($grid-flexbox) {
                        flex: 0 0 ($i / abs($module-block-columns)) * 100%;
                        max-width: ($i / abs($module-block-columns)) * 100%;
                    } @else {
                        width: ($i / abs($module-block-columns)) * 100%;
                    }
                }
            }
        }
    } @else {
        @each $column-value in check-columns($module-block-columns) {
            .#{$module-block-class}#{$column-value} {
                > * {
                    @if ($grid-flexbox) {
                        flex: ($column-value / max-value($module-block-columns)) * 100%;
                        max-width: ($column-value / max-value($module-block-columns)) * 100%;
                    } @else {
                        width: ($column-value / max-value($module-block-columns)) * 100%;
                    }
                }
            }
        }
    }
    @if ($grid-responsive) {
        @each $key, $value in $module-block-breakpoints {
            @media (min-width: $value) {
                @if (length($module-block-columns) == 1) and ($module-block-columns < 0) {
                    @for $i from 1 through abs($module-block-columns) {
                        .#{$module-block-class}#{$key}#{$i} {
                            > * {
                                @if ($grid-flexbox) {
                                    flex: 0 0 ($i / abs($module-block-columns)) * 100%;
                                    max-width: ($i / abs($module-block-columns)) * 100%;
                                } @else {
                                    width: ($i / abs($module-block-columns)) * 100%;
                                }
                            }
                        }
                    }
                } @else {
                    @each $column-value in check-columns($module-block-columns) {
                        .#{$module-block-class}#{$key}#{$column-value} {
                            > * {
                                @if ($grid-flexbox) {
                                    flex: 0 0 ($column-value / max-value($module-block-columns)) * 100%;
                                    max-width: ($column-value / max-value($module-block-columns)) * 100%;
                                } @else {
                                    width: ($column-value / max-value($module-block-columns)) * 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
