// ----- MODULE-ORDERING (PULL/PUSH) ------------
@if ($ug-module-ordering) {
    [class*="#{$ug-module-ordering-class-pull}"],
    [class*="#{$ug-module-ordering-class-push}"] {
        position: relative;
    }
    @if (length($ug-module-ordering-columns) == 1) and ($ug-module-ordering-columns < 0) {
        @for $i from 1 through abs($ug-module-ordering-columns) {
            .#{$ug-module-ordering-class-pull}#{$i} {
                left: -($i / abs($ug-module-ordering-columns)) * 100%;
            }
        }
    } @else {
        @each $column-value in check-columns($ug-module-ordering-columns) {
            .#{$ug-module-ordering-class-pull}#{$column-value} {
                left: -(100% / max-value($ug-module-ordering-columns)) * $column-value;
            }
        }
    }
    @if ($ug-grid-responsive) {
        @each $key, $value in $ug-module-ordering-breakpoints {
            @media (min-width: $value) {
                @if (length($ug-module-ordering-columns) == 1) and ($ug-module-ordering-columns < 0) {
                    @for $i from 1 through abs($ug-module-ordering-columns) {
                        .#{$ug-module-ordering-class-pull}#{$key}#{$i} {
                            left: -($i / abs($ug-module-ordering-columns)) * 100%;
                        }
                    }
                } @else {
                    @each $column-value in check-columns($ug-module-ordering-columns) {
                        .#{$ug-module-ordering-class-pull}#{$key}#{$column-value} {
                            left: -(100% / max-value($ug-module-ordering-columns)) * $column-value;
                        }
                    }
                }
            }
        }
    }
    @if (length($ug-module-ordering-columns) == 1) and ($ug-module-ordering-columns < 0) {
        @for $i from 1 through abs($ug-module-ordering-columns) {
            .#{$ug-module-ordering-class-push}#{$i} {
                left: ($i / abs($ug-module-ordering-columns)) * 100%;
            }
        }
    } @else {
        @each $column-value in check-columns($ug-module-ordering-columns) {
            .#{$ug-module-ordering-class-push}#{$column-value} {
                left: (100% / max-value($ug-module-ordering-columns)) * $column-value;
            }
        }
    }
    @if ($ug-grid-responsive) {
        @each $key, $value in $ug-module-ordering-breakpoints {
            @media (min-width: $value) {
                @if (length($ug-module-ordering-columns) == 1) and ($ug-module-ordering-columns < 0) {
                    @for $i from 1 through abs($ug-module-ordering-columns) {
                        .#{$ug-module-ordering-class-push}#{$key}#{$i} {
                            left: ($i / abs($ug-module-ordering-columns)) * 100%;
                        }
                    }
                } @else {
                    @each $column-value in check-columns($ug-module-ordering-columns) {
                        .#{$ug-module-ordering-class-push}#{$key}#{$column-value} {
                            left: (100% / max-value($ug-module-ordering-columns)) * $column-value;
                        }
                    }
                }
            }
        }
    }
}
