// ----- MODULE-PULL-PUSH -----------------------
@if($module-pull-push) {
    [class*="#{$prefix-pull}"],
    [class*="#{$prefix-push}"] {
        position: relative;
    }
    @if (length($module-pull-push-columns) == 1) and ($module-pull-push-columns < 0) {
        @for $i from 1 through abs($module-pull-push-columns) {
            .#{$prefix-pull}#{$i} {
                left: -($i / abs($module-pull-push-columns)) * 100%;
            }
        }
    } @else {
        @each $column-value in check-columns($module-pull-push-columns) {
            .#{$prefix-pull}#{$column-value} {
                left: -(100% / max-value($module-pull-push-columns)) * $column-value;
            }
        }
    }
    @if($grid-responsive) {
        @each $key, $value in $module-pull-push-breakpoints {
            @media (min-width: $value) {
                @if (length($module-pull-push-columns) == 1) and ($module-pull-push-columns < 0) {
                    @for $i from 1 through abs($module-pull-push-columns) {
                        .#{$prefix-pull}#{$key}#{$i} {
                            left: -($i / abs($module-pull-push-columns)) * 100%;
                        }
                    }
                } @else {
                    @each $column-value in check-columns($module-pull-push-columns) {
                        .#{$prefix-pull}#{$key}#{$column-value} {
                            left: -(100% / max-value($module-pull-push-columns)) * $column-value;
                        }
                    }
                }
            }
        }
    }
    @if (length($module-pull-push-columns) == 1) and ($module-pull-push-columns < 0) {
        @for $i from 1 through abs($module-pull-push-columns) {
            .#{$prefix-push}#{$i} {
                left: ($i / abs($module-pull-push-columns)) * 100%;
            }
        }
    } @else {
        @each $column-value in check-columns($module-pull-push-columns) {
            .#{$prefix-push}#{$column-value} {
                left: (100% / max-value($module-pull-push-columns)) * $column-value;
            }
        }
    }
    @if($grid-responsive) {
        @each $key, $value in $module-pull-push-breakpoints {
            @media (min-width: $value) {
                @if (length($module-pull-push-columns) == 1) and ($module-pull-push-columns < 0) {
                    @for $i from 1 through abs($module-pull-push-columns) {
                        .#{$prefix-push}#{$key}#{$i} {
                            left: ($i / abs($module-pull-push-columns)) * 100%;
                        }
                    }
                } @else {
                    @each $column-value in check-columns($module-pull-push-columns) {
                        .#{$prefix-push}#{$key}#{$column-value} {
                            left: (100% / max-value($module-pull-push-columns)) * $column-value;
                        }
                    }
                }
            }
        }
    }
}
