// ----- MODULE-RESPONSIVE ----------------------
@if ($grid-responsive) {
    @each $key, $value in $grid-breakpoints {
        @media (min-width: $value) {
            @if (length($grid-columns) == 1) and ($grid-columns < 0) {
                @for $i from 1 through abs($grid-columns) {
                    .#{$grid-class-column}#{$key}#{$i} {
                        @if ($grid-flexbox) {
                            flex: 0 0 ($i / abs($grid-columns)) * 100%;
                            max-width: ($i / abs($grid-columns)) * 100%;
                        } @else {
                            width: ($i / abs($grid-columns)) * 100%;
                        }
                    }
                }
            } @else {
                @each $column-value in check-columns($grid-columns) {
                    .#{$grid-class-column}#{$key}#{$column-value} {
                        @if ($grid-flexbox) {
                            flex: 0 0 (100% / max-value($grid-columns)) * $column-value;
                            max-width: (100% / max-value($grid-columns)) * $column-value;
                        } @else {
                            width: (100% / max-value($grid-columns)) * $column-value;
                        }
                    }
                }
            }
        }
    }
}
