// ----- MODULE-RESPONSIVE ----------------------
@if ($ug-grid-responsive) {
    @each $key, $value in $ug-grid-breakpoints {
        @media (min-width: $value) {
            @if (length($ug-grid-columns) == 1) and ($ug-grid-columns < 0) {
                @for $i from 1 through abs($ug-grid-columns) {
                    .#{$ug-grid-class-column}#{$key}#{$i} {
                        @if ($ug-grid-flexbox) {
                            flex-basis: ($i / abs($ug-grid-columns)) * 100%;
                            max-width: ($i / abs($ug-grid-columns)) * 100%;
                        } @else {
                            width: ($i / abs($ug-grid-columns)) * 100%;
                        }
                    }
                }
                @if ($ug-grid-flexbox) {
                    .#{$ug-grid-class-column}#{$key}content {
                        flex: 0 0 auto;
                    }
                    .#{$ug-grid-class-column}#{$key}auto {
                        flex: 1 1 0%;
                    }
                }
            } @else {
                @each $column-value in check-columns($ug-grid-columns) {
                    .#{$ug-grid-class-column}#{$key}#{$column-value} {
                        @if ($ug-grid-flexbox) {
                            flex-basis: (100% / max-value($ug-grid-columns)) * $column-value;
                            max-width: (100% / max-value($ug-grid-columns)) * $column-value;
                        } @else {
                            width: (100% / max-value($ug-grid-columns)) * $column-value;
                        }
                    }
                    @if ($ug-grid-flexbox) {
                        .#{$ug-grid-class-column}#{$key}content {
                            flex: 0 0 auto;
                        }
                        .#{$ug-grid-class-column}#{$key}auto {
                            flex: 1 1 0%;
                        }
                    }
                }
            }
        }
    }
}
