// ----- MODULE-VISIBILITY ----------------------
@if ($ug-module-visibility) {
    [class*="#{$ug-module-visibility-class-hide}"] {
        display: block;
    }
    [class*="#{$ug-module-visibility-class-show}"] {
        display: none;
    }
    @if ($ug-grid-responsive) {
        @each $key, $value in $ug-module-visibility-breakpoints {
            @media (min-width: $value) {
                .#{$ug-module-visibility-class-show}#{$key} {
                    display: block;
                }
                .#{$ug-module-visibility-class-hide}#{$key} {
                    display: none;
                }
            }
        }
    }
}
